# ======= compilated and executables
**.out
**.o
**.mod
**.pyc
**.13
# ======= data and figures
**.png
**.pdf
**.eps
!guia*.pdf
**.dat
**.csv
**.csv.gz
# ======= folders
**.ipynb_checkpoints/
**/figures/
