# ======= compilated and executables
**.out
**.o
**.mod
**.pyc
# ======= data and figures
**.png
**.pdf
**.eps
!guia*.pdf
**.dat
**.csv
**.csv.gz
# ======= jupyter notebooks
**.ipynb
# ======= folders
**.ipynb_checkpoints/
**/figures/
